@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotolight.woff2"), url("../fonts/Robotolight.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2"), url("../fonts/Roboto.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotomedium.woff2"), url("../fonts/Robotomedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2"), url("../fonts/Robotobold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../fonts/yesevaone.woff2"), url("../fonts/yesevaone.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #151313;
}

div {
  outline: 2px solid red;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 40px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__social svg {
  fill: #fff;
}

.header__logo svg {
  fill: #a07b50;
  stroke: #151313;
  stroke-width: 0.8;
  transition: fill 0.3s ease-out;
}

.header__social li {
  margin-bottom: 14px;
}

.header__social a {
  width: 12px;
  height: 11px;
}

.social svg:active {
  opacity: 0.5;
}

.header {
  position: relative;
  background-color: #151313;
}

.header__container {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 80px;
  background-image: url("../img/main-cat-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 684px auto;
  background-position: right 0 bottom 0;
}

.header__wrapper {
  margin: 0 auto;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 47px;
  padding-bottom: 64px;
  overflow: hidden;
  z-index: 2;
}

.header__logo {
  display: block;
  width: 100%;
  margin-bottom: 78px;
  text-align: center;
}

.header__logo svg:hover,
.header__logo svg:focus {
  fill: #fff;
}

.header__city {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #a07b50;
  max-width: 330px;
  margin-top: 30px;
  margin-bottom: 17px;
}

.header__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Yeseva One", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 60px;
  color: #fff;
  max-width: 350px;
  transform: translateX(-3px);
}

.header__lead {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #a07b50;
  max-width: 330px;
  margin-bottom: 48px;
}

.header__btn {
  text-align: center;
  width: 200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #a07b50;
  background-color: transparent;
  text-decoration: none;
  padding: 18px;
  transition: color 0.3s ease-out, border 0.3s ease-out;
  margin-bottom: 110px;
}

.header__btn:hover,
.header__btn:focus {
  color: #a07b50;
  border: 1px solid #fff;
}

.header__btn:active {
  opacity: 0.5;
}

.header__social {
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 113px;
  margin-top: auto;
}

.header__social li:last-of-type {
  margin-bottom: 0;
}

.header__social svg:hover,
.header__social svg:focus {
  fill: #a07b50;
}

.header__social::before {
  content: "";
  position: absolute;
  bottom: 127px;
  left: 6px;
  height: 77px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.61);
  margin-bottom: 29px;
  align-self: center;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider__container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}

.section__lead {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #a07b50;
}

.pets {
  background-color: #1f1c1d;
}

.pets__tab-content-wrapper {
  width: 100%;
}

.pets__wrapper {
  padding-top: 223px;
  padding-bottom: 21px;
}

.gallery {
  display: block;
  width: 100%;
  max-width: 1068px;
  height: auto;
  margin: 0 auto 56px;
  column-count: 2;
  column-gap: 30px;
  padding-left: 30px;
}

.gallery__item {
  flex-shrink: 1;
  line-height: 0;
  break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  width: 100%;
}

.breed-features {
  background-color: #1f1c1d;
}

.breed-features__wrapper {
  position: relative;
  padding-top: 21px;
  padding-bottom: 129px;
}

.advantages {
  background-color: #151313;
}

.advantages__wrapper {
  padding-top: 83px;
  padding-bottom: 64px;
}

.care {
  background-color: #151313;
}

.care__wrapper {
  padding-top: 84px;
  padding-bottom: 51px;
}

.team {
  background-color: #151313;
}

.team__wrapper-outer {
  display: flex;
  padding: 2px 90px 2px 90px;
}

.team__wrapper {
  display: block;
  padding-top: 83px;
  padding-bottom: 70px;
}

.team__slider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faq {
  background-color: #1f1c1d;
}

.faq__wrapper {
  padding-top: 72px;
  padding-bottom: 30px;
}

.reviews {
  background-color: #1f1c1d;
}

.reviews__wrapper {
  display: block;
  padding-top: 27px;
  padding-bottom: 112px;
}

.footer {
  background-color: #151313;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 72.7%;
  padding-top: 70px;
  padding-bottom: 59px;
}

.show {
  display: block;
}
